body {
  background: #131619;
  display: flex;
  justify-content: center;
}

.wrapper {
  max-width: 800px;
  margin: 40px;
  width: 100%;
}

.container,
.navbar {
  background: #fff;
  border-radius: 8px;
}

.container,
.navbar {
  padding: 20px;
}

.navbar {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.6rem;
}

.navbar a {
  text-decoration: none;
}
